.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.lastRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.row button {
  width: 100%;
  height: 100px;
}

.lastRow button {
  width: 100%;
  height: 100px;
}
