.display {
  display: flex;
  background-color: rgb(133, 134, 147);
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  align-items: flex-end;
  flex-direction: column-reverse;
  padding-bottom: 20px;
  padding-right: 10px;
}
