.nav {
  display: flex;
  align-items: center;
}

.h1 {
  flex-grow: 2;
  margin-left: 20px;
  color: rgb(204, 4, 177);
  font-weight: bold;
   font-size: 32px;
   text-decoration: none;
}

.links {
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: rgb(204, 4, 177);
}
